{% extends 'base.html' %}

{% block content %}
<h1 class="mt-4 mb-4">Temporal Reviews</h1>
<h2>Reviews for {{ location }}</h2>
<h5 class="mt-4 mb-4">{{ taskqueue }}</h5>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 2px solid black;
        padding: 8px;
        text-align: left;
    }

    tr:nth-child(odd) td{
           background:#e6e3e3;
    }
    table tr:nth-child(even) td{
            background:#fff;
    }        
    
    th {
        background-color: #fff;
    }   
</style>
<table>
    {{ table|safe }}
</table>
{% endblock %}